article {
    margin-bottom: 5em;
    word-wrap: break-word;

    .entry-content {
        line-height: 1.65em;
    }

    .entry-date, footer {
        font-size: 0.8em;
    }
}

section.comments {
    margin: 2em 0;
}
