[role="banner"] {

    background: $baseColor;

    .and {
        margin: 0 0.7em;

        @include breakpoint(papa-bear) {
            margin: 0;
        }
    }

    h1 {
        margin-bottom: 0;
    }

    figure.avatar {
        border-radius: 128px;
        border: solid 2px $accentColor;

        @include breakpoint(baby-bear) {
            margin-bottom: 1em;
        }

        img {
            border-radius: 128px;
            -webkit-filter: saturate(60%) contrast(150%);
            -moz-filter: saturate(60%) contrast(150%);
            filter: saturate(60%) contrast(150%);
        }

        &:first-of-type {
            float: right;
        }
        &:last-of-type {
            float: left;
        }
    }

    @include clearfix;
}