[role="banner"], nav, [role="main"] {
    padding: 1em 2em;
}

[role="main"] {
    max-width: 800px;
}

* {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}