nav {
    padding: 0.5em 0;

    background: $accentColor;

    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin-right: 2em;
        padding: 0.5em 0;
    }
}
