body, input, select {
    color: #222;
    font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

a {
    color: $accentColor;
}

[role="banner"], nav {
    text-align: center;
    h1 {
        font-family: 'Codystar', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
        font-size: 48px;
    }

    .and {
        margin: 0 0.7em;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

article {
    h1 {
        text-align: center;
        font-family: 'Raleway', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
        font-weight: normal;
        text-transform: capitalize;

        a {
            color: #222;
            text-decoration: none;

        }
    }
}